body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

/* Banner Styles */
.banner {
    background-color: #28a745; 
    color: #fff;
    text-align: center;
    padding: 20px 0 ;
    font-size: 24px;
    font-weight: bold;
}

/* Login Container */
.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    margin-top: 20px;
}

/* Logo */
.logo img {
    max-width: 400px;
    margin-bottom: 30px;
    height: auto;
}

/* Input Fields */
input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Login Button */
button {
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Footer Styles */
footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    
    bottom: 0;

}